.center {
    margin: auto;

}

.center-text {
    text-align: center;
}



.header-color{
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


.landing-grid{
    background: #41295a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2F0743, #41295a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2F0743, #41295a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.avatar-img{
    height: 250px;
    padding-top: 5em;
}
@font-face{
    font-family: prnovabold;
    src: url("../../fonts/prnovabold.otf");

}
@font-face{
    font-family: prnovathin;
    src: url("../../fonts/prnovathin.otf");

}
.banner-text{
    background-color: black;
    opacity: .8;
    width: 75%;
    margin: auto;
    border-radius: 10px;
    font-family: prnovathin;
}

.banner-text h1{
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-align: center;
    font-family: prnovabold;
}

.banner-text hr{
    border-top: 5px dotted white;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: white;
    font-size: 20px;
    font-family: prnovathin;
}

.social-links{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i{
    color: white;
    font-size: 2em;
    padding: 8px;
}

.projects-grid{
    display: flex;
}

.contact-body {
    margin: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    padding-top: 2em;
}

.contact-grid {
    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;

}

.contact-grid h2 {
    font-family: prnovathin;
}

.contact-grid p {
    font-family: prnovathin;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.contact-list i {
    font-size: 66px;
    padding-right: 3rem;
}

/*Resume Page css*/
.resume-right-col{
    background: #27221F;
    color: white;
    padding: 2em;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
    div.banner-text h1 {
        font-size: 65px;
    }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
    div.banner-text h1 {
        font-size: 30px;
    }
}


