.card{
    width: 18rem;
    height: 30rem;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}



.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
